*

!.gitignore
!modules/
!analysis_modules/
!extra-codes/
!jupyter_nbs/ 
!*.py
!*.ipynb
!submit_*.sh

old.*
modules/old.*
test_files/*
old_files/*
data/*
link_pos/*
e2e_pos/*
com_pos/*
plots/*
info/*
test*
template.*
live.*
tmp.*
*.ipynb
